<?xml version="1.1" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="60 seconds">
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %-5level [%t] %logger{36}: %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
    </root>
</configuration>
